.heading{
    color: red;
    border: 2px solid black;
    margin: 10px;
    text-align: center;
}

.ingred{
    color: green;
}

.step{
    color:rgb(15, 125, 194)
}

.about{
    color: rgb(219, 61, 4);
}

.head{
    color: goldenrod;
}